body {

}
a {
	color: #f40f32;
	text-decoration: none;
}
a:hover,a:focus {
	color:#f40f32;
	text-decoration:underline
}
.container {
	width: 990px;
}
.myname {
	text-align: center;
}
.myname a, a:hover, a:focus {
	color: black;
	text-decoration: none;
}
.page {
  padding: 40px 15px;
}
.content {
	margin: auto;
	-moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;

}
.content img {
	width: 100%;
}
.content ul {
	list-style: none;
	padding: 0;
}
.content ul li {
	padding: 10px;
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.content ul li div {
	padding: 10px;
}
.raspberry-pi {
	background-color: #FF0051;
	color: white;
}
.git {
	background-color: #E2DF9A;
}
.nodejs {
	background-color: #E2DF9A;
}
.hls {
	background-color: #757449;
	color: white;
}
.exp {
	padding-bottom: 5px;
}
.prj {
	padding-bottom: 15px;
}
hr {
	border-top: 1px solid black;
}
.nav-bar {
  text-align: center;
}
.nav-bar ul {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.nav-bar ul li {
	display: inline;
	padding-left: 1em;
}
#txt_message {
	min-height: 300px;
}

.stat {
	text-align: center;
}