.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
	font-weight: bold;
	text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-footer {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 10px;
}